body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}
code,kbd,samp,tt{font-size:100%}
ol,ul{list-style:none}
a{text-decoration: none;}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}

img{border:0 none;}
/*clearfix*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.f14{font-size:14px;}
.fl{float:left;}
.fr{float:right;}
.dark{color:#333333;}
.red{color:#dc0f0f;}
.grey{color:#797474;}
.bgwt{background:#ffffff}
.mt5{margin-top:5px;}
.mt8{margin-top:8px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt16{margin-top:16px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.ml20{margin-left:20px;}
.ml35{margin-left:35px;}
.mt50{margin-top:50px;}
.pt20{padding-top:20px;}
.pl20{padding-left:20px;}
.pb20{padding-bottom:20px;}
.indent{text-indent:32px;}






